{% extends 'Index.html' %}

{% block content %}

    {% if (init) %}
        {% set header, title = 'Текущие значения', 'Просмотр текущих значений' %}
    {% else %}
        {% set header, title = 'Начальные значения', 'Установка начальных значений' %}
    {% endif %}

    <h2>{{ header }}</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">

            {% if (init) %}

                <p>Стартовая сумма: {{ extra.startSum }} руб.</p>
                <p>Доходы: {{ extra.profit }} руб.</p>
                <p>Расходы: {{ extra.costs }} руб.</p>
                <p>Я должен: {{ extra.borrowed }} руб.</p>
                <p>Мне должны: {{ extra.loaned }} руб.</p>
                <p>Суммарный долг: {{ extra.debt }} руб.</p>
                <p>Текущий баланс: {{ extra.balance }} руб.</p>

                <h4><a href="/account/settings/">Перейти к другим настройкам</a></h4>

            {% else %}

                <h4 class="text-info">Внимание! Начальные значения требуется установить 1 раз! Потом эта функция будет недоступна!</h4>

                {% for error in errors %}
                    <p class="text-warning">{{ error.getMessage() }}</p>
                {% endfor %}

                <form class="form-horizontal" action="/account/setInitVal/" method="post">
                    <div class="form-group">
                        <label for="startSum" class="col-sm-2 control-label">Стартовая сумма</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" id="startSum" name="values[startSum]" value="{{ values.startSum }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="borrowed" class="col-sm-2 control-label">Я должен</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" id="borrowed" name="values[borrowed]" value="{{ values.borrowed }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="loaned" class="col-sm-2 control-label">Мне должны</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" id="loaned" name="values[loaned]" value="{{ values.loaned }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="submit" class="btn btn-default btn-sm">Установить</button>
                        </div>
                    </div>
                </form>

                <h4><a href="/account/settings/">Перейти к другим настройкам</a></h4>

            {% endif %}

        </div>
    </div>

{% endblock %}