<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Установка начальных значений</h3>
    </div>
    <div class="panel-body">

        {% set errors = app.flash.errors %}
        {% for error in errors %}
            <p class="text-warning">{{ error.getMessage() }}</p>
        {% endfor %}

        <form class="form-horizontal" action="/account/setInitVal/" method="post">
            <div class="form-group">
                <label for="startSum" class="col-sm-2 control-label">Стартовая сумма</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" id="startSum" name="values[startSum]">
                </div>
            </div>
            <div class="form-group">
                <label for="debt" class="col-sm-2 control-label">Общий долг</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" id="debt" name="values[debt]">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default btn-sm">Установить</button>
                </div>
            </div>
        </form>
    </div>
</div>