{% extends 'Index.html' %}

{% block content %}

    <h2>Персональные настройки сервиса</h2>

    <ul id="list">
        <li>
            <h4>
                {% if (configured) %}
                    <a href="/account/showCurrentValues/">Просмотр текущих значений</a>
                {% else %}
                    <a href="/account/setStartSum/">Установка стартовой суммы</a>
                {% endif %}
            </h4>
        </li>
        <li>
            <h4>
                <a href="/account/editCategories/">Редактирование списка категорий</a>
            </h4>
        </li>
    </ul>

{% endblock %}