<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app.config.title }}</title>
    {{ publish('/Assets/css') }}
    {{ publishCss() }}
    <link href="{{ asset('/Assets/css/index.css') }}" rel="stylesheet">
</head>
<body>

    <div class="container">

        <div id="header">
            <h1>&laquo;PROFIT&raquo; <small>система по контролю за личным бюджетом</small></h1>
        </div>

        <div id="identity" class="row">
            <div class="col-sm-9" id="welcome">
                {% if (app.user is not null) %}
                    Добро пожаловать, {{ app.user.firstName }} {{ app.user.lastName }}!
                {% endif %}
            </div>
            <div class="col-sm-1">
                {% if (app.user is null) %}
                    <a href="/user/login/">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Вход
                        </button>
                    </a>
                {% else %}
                    <a href="/user/logout/">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выход
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <a href="/user/register/">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span> Регистрация
                    </button>
                </a>
            </div>
        </div>

        <div id="menu">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/">Главная</a></li>
                <li role="presentation"><a href="/">Личный кабинет</a></li>
            </ul>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="clear"></div>

    </div>

    <div id="footer"></div>

    {{ publishJs() }}
</body>
</html>